body {
    margin: 0;
    font-size: 1.2vw;
    overflow: hidden;
}
a {
    text-decoration: none;
    color:unset;
    cursor:pointer;
}

/**
   Declarations for background
**/

#backgrounds {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

#backgrounds div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.5s;
    will-change: opacity;
}

#backgrounds div.active {
    opacity: 1;
}

#backgrounds div:nth-child(1) {
    background: linear-gradient(60deg, #479fd6, #57add6);
}

#backgrounds div:nth-child(4) {
    background: linear-gradient(60deg, #67274b, #441548);
}

#backgrounds div:nth-child(3) {
    background: linear-gradient(60deg, #fec315, #fcb017);
}

#backgrounds div:nth-child(2) {
    background: linear-gradient(60deg, #33467e, #4e68b7)
}

#confeti {
    position: absolute;
}
/**
   Declarations for circular page lineup
**/

div.wrapper {
    width: 200vw;
    height: 200vw;
    top: 100%;
    transform-origin: 50% 50%;
    position: fixed;
    left: 0%;
    margin: -100vw;
    transition: transform 2.5s cubic-bezier(0, 0.23, 0.58, 1);
    overflow: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: -100vh 0px;
    top: 50%;
    display: block;
    left: 50%;
    overflow: hidden;
    transform-origin: 0% 100%;
}

#_2 {
    transform: rotateZ(90deg);
}

#_3 {
    transform: rotateZ(180deg);
}

#_4 {
    transform: rotateZ(270deg);
}


/**
Declarations for In Page template
**/

.header {
    width: 50%;
    position: absolute;
    left: 5%;
    display: flex;
    top: 20px;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}

.header > .title {
    width: 100%;
    line-height: 0.5;
    position: relative;
    padding-right: 30px;
    font-size: 9em;
    font-weight: 900;
    font-family: Lato, sans-serif;
    transform: translateY(-50%);
    opacity: 0;
    text-align: right;
    transition: transform 1s 0.5s, opacity 0.2s;
    padding-bottom: 5%;
}

.active .header > .title {
    transform: none;
    opacity: 1;
    line-height: 1;
    transition: transform 0.5s, opacity 0.3s;
}

.header > .title > span {
    display: block;
    line-height: 1;
    margin-bottom: -5%;
    font-weight: 900;
    font-family: "Roboto";
}
.header > .title > span:last-child {
    margin-bottom:0;
}

.header > .subtext {
    width: 40%;
    position: relative;
    float: right;
    clear: both;
    text-align: right;
    font-family: Lato;
    font-weight: 300;
    font-size: 1em;
    padding-bottom: 50px;
    padding-right: 30px;
    border-right: 1px solid rgba(2555, 255, 255, 0.1);
    color: #676363;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s 0.5s, opacity 0.2s;
    margin-right: 30px;
}
.active .header > .subtext a:hover {
    cursor:pointer;
    text-decoration:underline;
}

.active .header > .subtext {
    opacity: 1;
    transform: none;
    transition: transform 0.5s 0.2s, opacity 0.3s 0.2s;
}

.accessories {
    position: absolute;
    bottom: 39%;
    left: 3%;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 0.1s, transform 0.5s 0.5s;
}

.active .accessories {
    transform: none;
    opacity: 1;
    transition: opacity 0.5s 1s, transform 0.8s 1s cubic-bezier(0, 0, 0, 1);
}

.accessories>img {
    height: 40vh;
    opacity: 0.5;
}


/**
Declarations for Headliners component
**/

#headliners {
    width: 45vw;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 10% 5vw;
    overflow: hidden;
    pointer-events: none;
    perspective: 500px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

#headliners::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(55, 23, 78, 0.5), transparent 30%, transparent 70%, rgba(55, 23, 78, 0.5));
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 30;
}

.card {
    width: 35vw;
    position: absolute;
    height: 12vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 2px;
    pointer-events: all;
    margin-left: 250%;
    margin-top: 0px;
    box-sizing: border-box;
    transform: rotateX(90deg) translateY(-100%);
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 7px 15px rgba(0, 0, 0, 0.2);
}

#headliners .card[order] {
    position: absolute;
}

#headliners .card {
    top: 50%;
    margin-top: -6vw;
    left: 50%;
}

#headliners.active_from_anchor .card {
    margin-left: -17.5vw;
}

#headliners .card[order='1'] {
    top: 22%;
}

#headliners .card[order='3'] {
    top: 78%;
}

#headliners .card.active {
    transform: scale(1);
    pointer-events: all;
    opacity: 1;
    z-index: +50;
    transition: margin 0.65s 0.65s ease-out, top 0.65s ease-out, transform 0.5s 0.4s cubic-bezier(0, 0, 0, 1), opacity 1s 0.4s cubic-bezier(0, 0, 0, 1) !important;
}

#headliners .card.leaving {
    transform: rotateX(-90deg) translateY(100%);
    opacity: 0;
    transition: margin 0.3s 0.5s, transform 0.5s ease-in, opacity 0.5s cubic-bezier(0, 0, 0, 1) !important;
}

.card::after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.5));
}

.active_from_anchor::after {
    opacity: 1;
    transition: opacity 0.5s 1.5s;
}

.active_from_anchor .card {
    margin-left: 0px;
    transition: margin 1s cubic-bezier(0, 0, 0, 1), transform 0.5s cubic-bezier(0, 0, 0.34, 1), opacity 0.5s !important;
}

.card .thumb {
    width: 100%;
    height: 100%;
    background: #eee;
    position: relative;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
}

.card .label {
    width: 100%;
    z-index: +20;
    height: 30%;
    bottom: 0;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    padding: 10% 5%;
    flex-direction: column;
    font-family: Lato, sans-serif;
    justify-content: space-around;
}

.card .label > .title {
    font-size: 2em;
    font-weight: 900;
    display: block;
    color: #eeeeef;
    line-height: 0.9;
    margin-bottom: 2%;
}

.card .label > .short {
    font-size: 1em;
    color: #eee;
}


/**
Declarations for Ferris Wheel component
**/

#pro_shows {
    display: flex;
    overflow: hidden;
    width: 45vw;
    position: absolute;
    right: 0vw;
    height: 100%;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s, margin 0.5s, box-shadow 2s 1s ease-out;
    transition-timing-function: cubic-bezier(0, 0, 0.99, -0.21);
    pointer-events: none;
    box-shadow: none;
    justify-content: space-around;
}

#pro_shows.active_from_anchor {
    transition-timing-function: cubic-bezier(0.52, -0.01, 0.32, 1);
    opacity: 1;
    pointer-events: all;
    margin-right: 0;
}

#pro_shows .card {
    width: 100%;
    height: 100%;
    transform: none;
    margin-left: 100%;
    border: none;
    border-radius: 0px;
}

#pro_shows .card.active {
    margin-left: 0;
    opacity: 1;
    z-index: +100;
    transition: margin 0.5s 0.25s cubic-bezier(0, 0, 0, 1), opacity 0.5s 0.25s cubic-bezier(0, 0, 0, 1) !important;
}

#pro_shows .card.leaving {
    transform: scale(0.9);
    opacity: 0;
    transition: margin 0.5s 0.5s, transform 0.5s ease-in, opacity 0.5s ease-in !important;
}


/**
Declarations for Ferris Wheel component
**/

#ferris {
    display: block;
    position: absolute;
    width: 70vw;
    height: 70vw;
    margin: -35vw;
    left: 50%;
    top: 50%;
    z-index: +383;
    border-color: #fff #000 #eef #445;
    border-radius: 50%;
}

#ferris .mid .carriage {
    height: 18vw;
    background: url('../img/ferii1.svg');
    width: 15vw;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    left: 100%;
    top: 50%;
    margin: 0 -9vw;
    transform-origin: 50% 4%;
    will-change: transform;
}

#ferris .mid .carriage:nth-child(1) {
    left: 85.35%;
    top: 14.65%;
}

#ferris .mid .carriage:nth-child(2) {
    left: 100%;
    top: 50%;
}

#ferris .mid .carriage:nth-child(3) {
    left: 85.35%;
    top: 82.35%;
    background-image: url('../img/ferii2.svg');
}

#ferris .mid .carriage:nth-child(4) {
    left: 50%;
    margin-left: -7vw;
    top: 97%;
    background-image: url('../img/ferii2.svg');
}

#ferris .mid .carriage:nth-child(5) {
    left: 14.65%;
    margin-left: -6vw;
    top: 82.35%;
    background-image: url('../img/ferii4.svg');
}

#ferris .mid .carriage:nth-child(6) {
    left: 0%;
    margin-left: -5vw;
    top: 50%;
    background-image: url('../img/ferii4.svg');
}

#ferris .mid .carriage:nth-child(7) {
    left: 14.65%;
    margin-left: -6vw;
    top: 14.65%;
    background-image: url('../img/ferii5.svg');
}

#ferris .mid .carriage:nth-child(8) {
    left: 50%;
    margin-left: -7vw;
    top: 0%;
    margin-top: 1vw;
    background-image: url('../img/ferii5.svg');
}

#ferris div {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

#ferris div.back {
    background-image: url("../img/ferris front.svg"), none;
}

#ferris div.fore {
    background-image: url("../img/ferris back.svg"), none;
}

#home_page {
    background: #290835;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: +10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home_page.inactive {
    transition: transform 0.4s ease-out;
    transform: translateX(-100%);
}

#home_page::before {
    background: linear-gradient(60deg,#4b0f62 40%,#290835);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-out;
}

#home_page.lit::before {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

#home_page > .confetti {
    position: absolute;
    width: 50%;
    left: 5%;
}

#home_page > .shadow {
    height: 5vh;
    top: 70%;
    width: 40%;
    left: 10%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.71);
    filter: blur(15px);
}

#home_page > .confetti > img {
    width: 100%;
}

#home_page .anchor {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
    padding-left: 5%;
    box-sizing: border-box;
    padding-right: 5%;
    text-align: right;
    align-items: flex-end;
    font-family: 'Lato', sans-serif;
}

#home_page .anchor .logo > img {
    max-height: 30vh;
    margin-bottom: 2.5vh;
}

#home_page .anchor > span.title {
    font-size: 3em;
    line-height: 1;
    color: #441548;
    font-family: 'Abril Fatface';
    margin-bottom: 0.5em;
    color: #E1BEE7;
    transition: color 2s;
}

#home_page .anchor > div.subtext {
    font-weight: 300;
    display: block;
    text-align: justify;
}

#enter_site {
    margin-top: 3em;
    color: #F3E5F5;
    display: block;
    font-size: 1em;
    line-height:1.5em;
    position: relative;
    font-weight: 900;
    cursor: pointer;
    pointer-events:none;
}
#home_page.ready #enter_site {
    pointer-events:all;
}

#logo {
    position: absolute;
    width: 50vw;
    margin: -25vh -25vw;
    top: 50%;
    left: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#home_page .anchor > div.subtext,
#enter_site {
    color: #F3E5F5;
    transition: color 2s;
}

#logo > div {
    position: relative;
    display: flex;
    width: 80%;
    margin-top: 10%;
    color: #F3E5F5;
    justify-content: space-around;
}

#logo > div > span.annotation {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-align: center;
    flex-grow: 1;
}

#logo > div > span.date {
    font-size: 1em;
    height: 3em;
    flex-grow: 1;
    line-height: calc(2em);
    padding: 0px 1em;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border: 3px solid #fff;
    font-weight: 900;
}

#home_page.lit #logo span {
    color: #fff !important;
}

#logo > img {
    position: relative;
    width: 90%;
    height: auto;
}

#logo > img[name="off"] {
    position: absolute;
}

#logo > [name="on"] {
    opacity: 0;
    transition: all 2s;
}
#home_page.ready [name="on"] {
    animation: flicker 5s 1 ease-out;
}

#home_page.lit > #logo > [name="on"] {
    opacity: 1;
    transition: all 0.3s;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    2.5% {
        opacity: 0;
    }
    8% {
        opacity: 0;
    }
    9% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    13% {
        opacity: 0;
    }
    13.5% {
        opacity: 1;
    }
    14% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
}


/*
    Declarations for team navigation
*/

#team {
    display: flex;
    padding: 3% 2vw;
    width: 45vw;
    height: 100%;
    flex-direction: column;
    z-index: +10000;
    position: absolute;
    right: 0;
    pointer-events: none;
    justify-content: space-around;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

#team > .row {
    display: block;
    color: #445;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    /*margin:1px 2px;*/
}

#team > .row > .dude {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33.33%;
    height: 100%;
    /*margin:2px;*/
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 10% 0;
    transform: scale(0);
    pointer-events: none;
    transition: transform 0.25s;
    background: linear-gradient(60deg, #ddd, #ccd);
    background-size: cover;
    background-position: 50% 50%;
}

#team.active_from_anchor > .row > .dude {
    transform: none;
    pointer-events: all;
    transition: transform 0.25s ease-out;
}

#team > .row > .dude::after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.25s;
    background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.3));
}

#team > .row > .dude:hover::after {
    opacity: 1;
    transition: opacity 0.25s;
}

#details_of_peeps {
    position: relative;
    padding-right: 0px;
    margin-right: 0px;
    border-right: none;
    margin-top: 2em;
    width: 70%;
}

#details_of_peeps > .dude {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    opacity: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateX(25%);
    transition: opacity 0.1s, transform 0.25s ease-out;
    line-height: 1.5em;
}

#details_of_peeps > .dude > span.title {
    font-size: 2em;
    font-weight: 900;
    color: inherit;
    white-space: nowrap;
    line-height: 1.5em;
}

#details_of_peeps > .dude > span:not(.title) {
    font-size: 1.1em;
    font-weight: 400;
    color: inherit;
    line-height: 1.2;
}

#details_of_peeps > .dude > span {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: opacity 0.25s;
    z-index: +50;
    position: relative;
}

#details_of_peeps > .dude.active {
    opacity: 1;
    transform: none;
    transition: opacity 0.25s, transform 0.5s cubic-bezier(0, 0, 0, 1);
}


/*
    Declarations for connect page
*/

#contact {
    width: 45vw;
    right: 0vw;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    display: block;
    flex-direction: row;
    align-items: flex-start;
    transform:translateX(50%);
    opacity: 0;
    background:linear-gradient(60deg, #fff,#eeeeef);
    transition:transform 0.5s 0.5s,opacity 0.5s,right 1s ease-out;
}
#contact.active_from_anchor {
    transition:transform 0.5s cubic-bezier(0,0,0,1), opacity 0.25s,right 0.25s 0.2s ease-out;
    opacity: 1;
    transform:none;
}   

#campus_location {
    width:45vw;
    position: relative;
    padding:5% 10vw;
    font-family: 'Lato',sans-serif;
    box-sizing: border-box;
    display: block;
    height:100%;
    background:inherit;
    z-index: +100;
}
#campus_location::after {
    display: block;
    position:absolute;
    top:4%;
    right:36vw;
    font-family: 'FontAwesome';
    content: "\f041";
    color: #435aa0;
    font-size: 5.5em;
}
#campus_location > span {
    font-size:2.5em;
    line-height: 0.8;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color:#435aa0;
}
#campus_location > div > .title {
    font-size: 1.5em;
    font-weight: 300;
    color:#121214;
}
#campus_location > div > .sub {
    font-size:1.2em;
    font-style: italic;
    color:#121214;
    display: block;
    margin-bottom: 1em;
}
#campus_location > div > .button {
    font-size:1em;
    padding:10px;
    border:2px solid #121214;
    display: table-cell;
    cursor: default;
    font-weight: 900;
}
#campus_location > div > .pow {
    display: block;
    font-size: 2em;
    color: #121222;
    font-weight: 900;
    margin-top: 1em;
}
#campus_location > div > .button:hover {
    background:rgba(0,0,0,0.1);
}
#campus_location > div > .social {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0px;
}
#campus_location > div > .social > a {
    text-decoration: none;
    color: #121214;
    font-size: 2em;
    line-height: 1.7em;
    width: 1.7em;
    display: inline-block;
    border-radius: 50%;
}
#contact.busting {
    transition:right 0.25s ease-out;
    right:-20vw;
}
.bustiming {
    top:0;
    height:100%;
    padding: 15% 0;
    box-sizing: border-box;
    width:75vw;
    right:45vw;
    opacity:0;
    position: absolute;
    box-shadow:-20px 0px 20px -10px rgba(0,0,0,0.1);
    font-family: 'Lato',sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #d0cdf5;
    transition:opacity 0.2s ease-out;
    pointer-events: none;
}
.bustiming .map-title {
    margin: 0px 0;
    font-size: 2em;
    color: #121214;
    pointer-events: all;
}
#contact.busting .bustiming {
    transition:opacity 0.2s 0.2s ease-out;
    opacity: 1;
}
.bustiming .map-title .escape {
    position: absolute;
    right: 2em;
    top: 2em;
    cursor: pointer;
}
.bustiming .map-caption {
    line-height: 1.5;
    color: #121214;
    width: 80%;
}
.bustiming .map-caption > span {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}
.bustiming .map-caption > span.label {
    color: #445 !important;
    font-size: 0.8em !important;
}
.bustiming .map-caption > span:not(.high) {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}
.map-caption > span.offset {
    margin: 10px 0px;
}
.map-caption > span > span {
    display: inline-block;
    margin-right: 8px;
    padding-right: 8px;
    height: 6px;
    border-right: 1px solid rgba(255,255,255,0.5);
    display: inline-flex;
    align-items: center;
}
.map-caption > div {
    color: #121212;
    font-size: 0.8em;
    margin-top: 50px;
    text-align: justify;
}
.map-caption > div em {
    font-weight: 900;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.2em;
}
